<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" xmlns:t="http://www.w3.org/1999/html">
<head th:replace="layout :: head"></head>
<title>Blank Page</title>
<body>
<header th:replace="layout :: header"></header>

<!--Page content-->
<div class="container">
    <!--Page header-->
    <div class="page-header-content">
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
    <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i>
            <span class="text-semibold">List forum config</span></h4>
    </div>


    <!--Breadcrumb-->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a th:href="@{/}"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active">List forum config</li>
        </ul>
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    </div>

    <!--Page content-->
    <div class="page-content">
        <div class="content-wrapper">
            <div class="panel panel-flat col-lg-12" style="margin-top:10px;width: 100%">
                <div class="panel-heading">
                    <table class="table">
                        <thead>
                            <th>Stt</th>
                            <th>Forum url</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr th:each="forum,stat : ${forumConfigList}">
                                <td th:text="${stat.index+1}"></td>
                                <td th:text="${forum.origin_link}"></td>
                                <td >
                                    <span th:if="${forum.status==0}" class="label label-default"> Not running </span>
                                    <span th:if="${forum.status==1}" class="label label-success"> Running </span>
                                </td>
                                <td >
                                    <a th:if="${forum.status==0}" th:href="@{/forum/edit(id=${forum.id})}">Edit</a>
                                </td>
                                <td>
                                    <a th:href="@{/forum/view-data(source=${forum.source})}">View Data</a>
                                </td>
                                <td class="function">
                                    <a data-toggle="tooltip" title="Start crawler" class="block-ui-btn"
                                            th:href="@{/forum/crawl(id=${forum.id})}" th:if="${forum.status==0}"><i class="icon-play3"></i></a>
                                    <a data-toggle="tooltip" title="Dừng crawl và xoá các dữ liệu liên quan" class="block-ui-btn"
                                       th:href="@{/forum/stop-crawl(source=${forum.source})}" th:if="${forum.status==1}"><i class="icon-stop"></i></a>
                                    <a data-toggle="tooltip" title="Dừng crawl" class="block-ui-btn"
                                       th:href="@{/forum/pause-crawl(source=${forum.source})}" th:if="${forum.status==1}"><i class="icon-pause"></i></a>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>