<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="layout :: head"></head>
<title>Blank Page</title>
<body>
<header th:replace="layout :: header"></header>
<div id="main_content" >
    <div class="container">
        <p>Code hear ...</p>
        <button class="btn">Test Crawler</button>
    </div>
</div>
<script>
    $('button').click(function(){
      $.ajax({url: "/crawl/test", success: function(result){
        debugger;
      }});
    })

</script>
<footer th:replace="layout :: footer"></footer>
</body>
</html>