<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head"></head>
<title>Blank Page</title>
<body class="pace-done">
    <header th:replace="layout :: header"></header>
    <div id="main_content" class="page-container" >
       <div class="page-content">
           <div th:replace="layout :: sidebar"></div>
           <div class="content">
               <div class="panel panel-flat">
                  
               </div>
           </div>
       </div>
    </div>

</body>
</html>