<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->

    <link th:href="@{/theme/css/minified/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/theme/css/minified/core.min.css}" rel="stylesheet"/>
    <link th:href="@{/theme/css/minified/components.min.css}" rel="stylesheet"/>
    <link th:href="@{/theme/css/minified/colors.min.css}" rel="stylesheet"/>
    <link th:href="@{/theme/css/icons/icomoon/styles.css}" rel="stylesheet"/>
    <link th:href="@{/my/main.css}" rel="stylesheet"/>

    <!-- Core JS files -->
    <script type="text/javascript" th:src="@{/theme/js/plugins/loaders/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{/theme/js/core/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/theme/js/core/libraries/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/theme/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script th:src="@{/my/main.js}"/>
    <script type="text/javascript" th:src="@{/theme/js/core/app.js}"></script>
    <script th:inline="javascript">
        var rootContext = [[@{/}]];
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();
            $('.icon-arrow-left52').click(function () {
                window.history.back();
            });

            $('.block-ui-btn').on('click', function () {
                var block = $('body');
                $(block).block({
                    message: '<i class="icon-spinner4 spinner"></i>',
                    overlayCSS: {
                        backgroundColor: '#fff',
                        opacity: 0.8,
                        cursor: 'wait'
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: 'transparent'
                    }
                });
            });
        })
    </script>
    <!-- /theme JS files -->
</head>
<body>

<div th:fragment="header" class="navbar navbar-inverse bg-teal">
    <script>
        var blockBody = new BlockPanel();
    </script>
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/}"><p style="color: white;font-size:16px;"> TOOLS</p></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a th:href="@{/search(search_type=all)}">
                    <i class="icon-search4" ></i> <span th:text="#{common.search}"></span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a th:href="@{/category/list}">
                    <i class="icon-cog"></i> <span th:text="#{info.categories}"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a th:href="@{/forum/add}"><i class="icon-cog3"></i> Amazon</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span th:text="${#authentication.principal.fullName}"/>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a th:href="@{/logout}"><i class="icon-switch2"></i> <span
                            th:text="#{common.logout}"></span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


</body>
</html>